Proyecto/Web/Connected Services/ServicioOscar/SGCPA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtdListarRol">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarRolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUsu" type="tns:clUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clUsuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUsu" type="tns:clUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarUsuariosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarTerreno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTerr" type="tns:clTerreno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clTerreno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTerreno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTerreno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Largo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Ancho" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarTerrenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarTerrenoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarSuelos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objSuelos" type="tns:clSuelos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clSuelos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AcidezOalcalinidad" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Aluminio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Nitrógeno" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Potasio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Fósforo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Calcio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Magnesio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Azufre" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Cobre" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Cinc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Manganeso" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Boro" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoSuelo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCultivo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTerreno" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarSuelosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarSuelosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarSuelo">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarSueloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarSueloResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEnviarID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEnviarIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdEnviarIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdBuscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUsua" type="tns:clUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdBuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdBuscarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEtapa" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarFases">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarFasesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarFasesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarFase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objFas" type="tns:clFases" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clFases">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdFase" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duracion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaFinal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEtapas" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdEditarFaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarFaseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarTerreno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objT" type="tns:clTerreno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarTerrenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarTerrenoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdBuscarTerreno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTerreno" type="tns:clTerreno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdBuscarTerrenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdBuscarTerrenoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdfecha">
        <s:complexType />
      </s:element>
      <s:element name="mtdfechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdfechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarPregunta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPre" type="tns:clPregunta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clPregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPregunta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pregunta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarPreguntaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarPreguntaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarPregunta">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarPreguntaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarPreguntaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarRespuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objRes" type="tns:clRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clRespuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdRespuesta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Respuesta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPregunta" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarRespuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarRespuestaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarEtapa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarEtapaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarEtapaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarInsumos">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarInsumosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarInsumosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarInsumo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objIns" type="tns:clInsumo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clInsumo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdInsumo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoInsumo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarInsumoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarInsumoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjInterno" type="tns:clInterno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clInterno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ch" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdInterno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEtapa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fase" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Dias" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Check" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTerreno" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdListarInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarInternoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarInterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objIns" type="tns:clInterno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarInternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarInternoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdTerrenoEtapas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objTe" type="tns:clTerreno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdTerrenoEtapasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdTerrenoEtapasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEtapaTerreno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEtapaTerrenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdEtapaTerrenoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdInternoCultivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdInternoCultivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdInternoCultivoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtdListarRolSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarRol" />
  </wsdl:message>
  <wsdl:message name="mtdListarRolSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarRolResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarUsuarios" />
  </wsdl:message>
  <wsdl:message name="mtdEditarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarTerrenoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarTerreno" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarTerrenoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarTerrenoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarSuelosSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarSuelos" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarSuelosSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarSuelosResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarSueloSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarSuelo" />
  </wsdl:message>
  <wsdl:message name="mtdListarSueloSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarSueloResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLogin" />
  </wsdl:message>
  <wsdl:message name="mtdLoginSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEnviarIDSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEnviarID" />
  </wsdl:message>
  <wsdl:message name="mtdEnviarIDSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEnviarIDResponse" />
  </wsdl:message>
  <wsdl:message name="mtdBuscarSoapIn">
    <wsdl:part name="parameters" element="tns:mtdBuscar" />
  </wsdl:message>
  <wsdl:message name="mtdBuscarSoapOut">
    <wsdl:part name="parameters" element="tns:mtdBuscarResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarFasesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarFases" />
  </wsdl:message>
  <wsdl:message name="mtdListarFasesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarFasesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarFaseSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarFase" />
  </wsdl:message>
  <wsdl:message name="mtdEditarFaseSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarFaseResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarTerrenoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarTerreno" />
  </wsdl:message>
  <wsdl:message name="mtdEditarTerrenoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarTerrenoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdBuscarTerrenoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdBuscarTerreno" />
  </wsdl:message>
  <wsdl:message name="mtdBuscarTerrenoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdBuscarTerrenoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdfechaSoapIn">
    <wsdl:part name="parameters" element="tns:mtdfecha" />
  </wsdl:message>
  <wsdl:message name="mtdfechaSoapOut">
    <wsdl:part name="parameters" element="tns:mtdfechaResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPreguntaSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPregunta" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPreguntaSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPreguntaResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarPreguntaSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarPregunta" />
  </wsdl:message>
  <wsdl:message name="mtdListarPreguntaSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarPreguntaResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarRespuestaSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarRespuesta" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarRespuestaSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarEtapaSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarEtapa" />
  </wsdl:message>
  <wsdl:message name="mtdListarEtapaSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarInsumosSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarInsumos" />
  </wsdl:message>
  <wsdl:message name="mtdListarInsumosSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarInsumosResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarInsumoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarInsumo" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarInsumoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarInsumoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarInternoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarInterno" />
  </wsdl:message>
  <wsdl:message name="mtdListarInternoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarInternoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarInternoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarInterno" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarInternoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarInternoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdTerrenoEtapasSoapIn">
    <wsdl:part name="parameters" element="tns:mtdTerrenoEtapas" />
  </wsdl:message>
  <wsdl:message name="mtdTerrenoEtapasSoapOut">
    <wsdl:part name="parameters" element="tns:mtdTerrenoEtapasResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEtapaTerrenoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEtapaTerreno" />
  </wsdl:message>
  <wsdl:message name="mtdEtapaTerrenoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEtapaTerrenoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdInternoCultivoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdInternoCultivo" />
  </wsdl:message>
  <wsdl:message name="mtdInternoCultivoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdInternoCultivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="mtdListarRol">
      <wsdl:input message="tns:mtdListarRolSoapIn" />
      <wsdl:output message="tns:mtdListarRolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <wsdl:input message="tns:mtdRegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:mtdRegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarUsuarios">
      <wsdl:input message="tns:mtdEditarUsuariosSoapIn" />
      <wsdl:output message="tns:mtdEditarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarTerreno">
      <wsdl:input message="tns:mtdRegistrarTerrenoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarTerrenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarSuelos">
      <wsdl:input message="tns:mtdRegistrarSuelosSoapIn" />
      <wsdl:output message="tns:mtdRegistrarSuelosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarSuelo">
      <wsdl:input message="tns:mtdListarSueloSoapIn" />
      <wsdl:output message="tns:mtdListarSueloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLogin">
      <wsdl:input message="tns:mtdLoginSoapIn" />
      <wsdl:output message="tns:mtdLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEnviarID">
      <wsdl:input message="tns:mtdEnviarIDSoapIn" />
      <wsdl:output message="tns:mtdEnviarIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdBuscar">
      <wsdl:input message="tns:mtdBuscarSoapIn" />
      <wsdl:output message="tns:mtdBuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <wsdl:input message="tns:mtdRegistrarProductoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarFases">
      <wsdl:input message="tns:mtdListarFasesSoapIn" />
      <wsdl:output message="tns:mtdListarFasesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarFase">
      <wsdl:input message="tns:mtdEditarFaseSoapIn" />
      <wsdl:output message="tns:mtdEditarFaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarTerreno">
      <wsdl:input message="tns:mtdEditarTerrenoSoapIn" />
      <wsdl:output message="tns:mtdEditarTerrenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdBuscarTerreno">
      <wsdl:input message="tns:mtdBuscarTerrenoSoapIn" />
      <wsdl:output message="tns:mtdBuscarTerrenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdfecha">
      <wsdl:input message="tns:mtdfechaSoapIn" />
      <wsdl:output message="tns:mtdfechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPregunta">
      <wsdl:input message="tns:mtdRegistrarPreguntaSoapIn" />
      <wsdl:output message="tns:mtdRegistrarPreguntaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarPregunta">
      <wsdl:input message="tns:mtdListarPreguntaSoapIn" />
      <wsdl:output message="tns:mtdListarPreguntaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarRespuesta">
      <wsdl:input message="tns:mtdRegistrarRespuestaSoapIn" />
      <wsdl:output message="tns:mtdRegistrarRespuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarEtapa">
      <wsdl:input message="tns:mtdListarEtapaSoapIn" />
      <wsdl:output message="tns:mtdListarEtapaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarInsumos">
      <wsdl:input message="tns:mtdListarInsumosSoapIn" />
      <wsdl:output message="tns:mtdListarInsumosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInsumo">
      <wsdl:input message="tns:mtdRegistrarInsumoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarInsumoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarInterno">
      <wsdl:input message="tns:mtdListarInternoSoapIn" />
      <wsdl:output message="tns:mtdListarInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInterno">
      <wsdl:input message="tns:mtdRegistrarInternoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarInternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdTerrenoEtapas">
      <wsdl:input message="tns:mtdTerrenoEtapasSoapIn" />
      <wsdl:output message="tns:mtdTerrenoEtapasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEtapaTerreno">
      <wsdl:input message="tns:mtdEtapaTerrenoSoapIn" />
      <wsdl:output message="tns:mtdEtapaTerrenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdInternoCultivo">
      <wsdl:input message="tns:mtdInternoCultivoSoapIn" />
      <wsdl:output message="tns:mtdInternoCultivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdListarRol">
      <soap:operation soapAction="http://tempuri.org/mtdListarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarUsuarios">
      <soap:operation soapAction="http://tempuri.org/mtdEditarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarTerreno">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarTerreno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarSuelos">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarSuelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarSuelo">
      <soap:operation soapAction="http://tempuri.org/mtdListarSuelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLogin">
      <soap:operation soapAction="http://tempuri.org/mtdLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEnviarID">
      <soap:operation soapAction="http://tempuri.org/mtdEnviarID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdBuscar">
      <soap:operation soapAction="http://tempuri.org/mtdBuscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarFases">
      <soap:operation soapAction="http://tempuri.org/mtdListarFases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarFase">
      <soap:operation soapAction="http://tempuri.org/mtdEditarFase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarTerreno">
      <soap:operation soapAction="http://tempuri.org/mtdEditarTerreno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdBuscarTerreno">
      <soap:operation soapAction="http://tempuri.org/mtdBuscarTerreno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdfecha">
      <soap:operation soapAction="http://tempuri.org/mtdfecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPregunta">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarPregunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPregunta">
      <soap:operation soapAction="http://tempuri.org/mtdListarPregunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarRespuesta">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarEtapa">
      <soap:operation soapAction="http://tempuri.org/mtdListarEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarInsumos">
      <soap:operation soapAction="http://tempuri.org/mtdListarInsumos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInsumo">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarInsumo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarInterno">
      <soap:operation soapAction="http://tempuri.org/mtdListarInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInterno">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarInterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdTerrenoEtapas">
      <soap:operation soapAction="http://tempuri.org/mtdTerrenoEtapas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEtapaTerreno">
      <soap:operation soapAction="http://tempuri.org/mtdEtapaTerreno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdInternoCultivo">
      <soap:operation soapAction="http://tempuri.org/mtdInternoCultivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdListarRol">
      <soap12:operation soapAction="http://tempuri.org/mtdListarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarTerreno">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarTerreno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarSuelos">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarSuelos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarSuelo">
      <soap12:operation soapAction="http://tempuri.org/mtdListarSuelo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLogin">
      <soap12:operation soapAction="http://tempuri.org/mtdLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEnviarID">
      <soap12:operation soapAction="http://tempuri.org/mtdEnviarID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdBuscar">
      <soap12:operation soapAction="http://tempuri.org/mtdBuscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarFases">
      <soap12:operation soapAction="http://tempuri.org/mtdListarFases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarFase">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarFase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarTerreno">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarTerreno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdBuscarTerreno">
      <soap12:operation soapAction="http://tempuri.org/mtdBuscarTerreno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdfecha">
      <soap12:operation soapAction="http://tempuri.org/mtdfecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPregunta">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarPregunta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPregunta">
      <soap12:operation soapAction="http://tempuri.org/mtdListarPregunta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarRespuesta">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarRespuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarEtapa">
      <soap12:operation soapAction="http://tempuri.org/mtdListarEtapa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarInsumos">
      <soap12:operation soapAction="http://tempuri.org/mtdListarInsumos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInsumo">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarInsumo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarInterno">
      <soap12:operation soapAction="http://tempuri.org/mtdListarInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarInterno">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarInterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdTerrenoEtapas">
      <soap12:operation soapAction="http://tempuri.org/mtdTerrenoEtapas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEtapaTerreno">
      <soap12:operation soapAction="http://tempuri.org/mtdEtapaTerreno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdInternoCultivo">
      <soap12:operation soapAction="http://tempuri.org/mtdInternoCultivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:54676/SGCPA.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:54676/SGCPA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>